/*Geral*/
body{
    margin:0;
    padding:0;
    width:100vw;
    height:auto;
    background-color: #919EB8;
    overflow-x: hidden;
}



/*Menu*/
#menu{
    width:6vw;
    height:100vh;
    float:left;
    background-color:#2F3B45;
    position:fixed;
    border-right: 1px solid rgb(219, 143, 0);
    display:block;
    z-index:999;
}
#menubo{
    width:4vw;
    height:4vw;
    margin:1vw;
    background-image: url("img/menu.png");
    background-repeat:no-repeat;
    background-size:3.7vw;
    background-color: transparent;
    border:none;
    display:block;
    margin-bottom:-5vw;
    z-index: 999;
    position: relative;
}
#menubo:hover{
    opacity:0.8;
    transition:400ms;
    transform:scale(1.05);
    cursor: pointer;
}
#menuse{
    width:40vw;
    height:100vh;
    float:left;
    background-color:#2F3B45;
    position:fixed;
    border-right: 1px solid rgb(219, 143, 0);
    display:none;
    z-index:998;
}
nav{
    margin:1.8vw;
    margin-left:5vw;
    margin-top:8vw;
    width:36vw;
    height:auto;
}
.item{
    margin-bottom:2vw;
}
.anav{
    color:white;
    font-size:2vw;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.anav:hover{
    color:lightgray;
    cursor: pointer;
}



/*Header*/
header{
    width:94vw;
    float:right;
}
.topo{
    width:92vw;
    margin:1vw;
    height:auto;
    display:inline-flex;
    justify-content: space-between;
}
.sheader{
    width:18vw;
    height:auto;
}
.logo{
    width:18vw;
    height:auto;
}
.logo:hover{
    transform: scale(1.03);
    transition:200ms;
}
#hema{
    width:81vw;
    margin-left:5vw;
    border-color:rgb(27, 26, 24);
}
.pesquisa{
    display:flex;
    margin-top:0.75vw;
    margin-right:3vw;
}
.conpes{
    height:1.5vw;
    width:30vw;
    background-color: #2F3B45;
    border:none;
    margin: 0;
    color:white;
    font-size:1.5vw;
    padding-left:1vw;
    padding-right:3.1vw;
    padding-top:0.75vw;
    padding-bottom:0.75vw;
    border-radius:30px;
}
.lupa{
    width:3vw;
    height:3vw;
    margin-left:-3vw;
    opacity:0.8;
}
.lupa:hover{
    opacity:0.60;
    transition:200ms;
}






/*Main*/
main{
    width:94vw;
    float:right;
    position: relative;
}
.ow2{
    width:74vw;
    margin-top:5vw;
    margin-bottom:5vw;
    margin-left:10vw;
    overflow: hidden;
}
.carroitens{
    transition: transform 0.5s ease-in-out;
    display: inline-flex;
    width:100%;
}
.carroitens > img{
    border-radius:5px;
    width: 100%;
    opacity:1;
    flex: 0 0 100%;
}
.trailer{
    width:10vw;
    background-color:#E46911;
    text-align: center;
    height:3.5vw;
    border-radius:1px;
    position: absolute;
    top:4%;
    right:5%;
    opacity:0.9;
}
.trailer:hover{
    opacity:1;
    transition: 200ms;
}
a.amain{
    color:white;
    font-size:1.8vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:3.5vw;
    text-decoration: none;
}
#sobre{
    background-color: #22293D;
    width:94vw;
    float:right;
    padding-bottom:10vw;
}
h1{
    color:#D2DCEC;
    font-size:4vw;
    font-family:Arial, Helvetica, sans-serif;
    margin-top:3vw;
    margin-left:4vw;
    margin-bottom:3vw;
}
ul{
    margin:0;
    padding: 0;
}
li{
    color:#D2DCEC;
    font-size:2.5vw;
    font-family:Arial, Helvetica, sans-serif;
    margin-top:2vw;
    margin-left:8.5vw;
    margin-bottom:2vw;
}
h2{
    color:#D2DCEC;
    font-size:2.5vw;
    font-family:Arial, Helvetica, sans-serif;
    margin-top:2vw;
    margin-left:0.5vw;
    margin-bottom:2vw; 
}
p.descrijogo{
    width:78vw;
    color:#EBEEF5;
    font-size:1.35vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom:0vw;
    margin-top: 1vw;
    margin-left:8vw;
    margin-right:8vw;
    text-align: justify;
    opacity:0.8;
}
#temporada{
    width:87vw;
    float:right;
    margin:3.5vw;
}
.tempodes{
    display:flex;
    width:80vw;
    justify-content: space-between;
}
iframe{
    width:40vw;
    height:22.5vw;
    margin:0;
}
h2.tempo{
    color:#22293D;
    width:80vw;
    font-size:5vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:2vw;
    margin-left: 0;
    margin-right: 0;
    margin-bottom:5vw; 
    text-align: center;
}
.tempodesbo{
    width:44vw;
    float:right;
}
p.tempo{
    width:44vw;
    color:#2F3B45;
    font-size:1.35vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    opacity:1;
    text-align: justify;
    margin-top:0;
}
.jogue{
    width:10vw;
    background-color:#E46911;
    text-align: center;
    height:3.5vw;
    border-radius:1px;
    opacity:1;
    margin-top:5vw;
    margin-left:15vw;
}
.jogue:hover{
    transform: scale(1.1);
    transition: 400ms;
}