/*GERAL*/
body{
    background-color: white;
    margin:0;
    padding:0;
}
/*HEADER---------------------------------*/
/*Topo*/
header{
    background-color: rgb(25, 25, 25);
    width:100vw;
    height:80vw;
}
nav{
    margin-left:1vw;
    margin-right:1vw;
    width:98vw;
    height:54vw;
}
.topologo{
    width:97vw;
    height:auto;
    display:inline-flex;
    justify-content: space-between;
}
.anav > .logo{
    width:35vw;
    height:auto;
    margin-left:32.5vw;
    border-radius:50%;
    margin-top:0.25vw;
    margin-bottom: 2.5vw;
}
h1{
    color:white;
    font-size:2.8vw;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-top:1.5vw;
    margin-left:1vw;
}
h1:hover{
    opacity:0.9;
    cursor:pointer;
}
.anav > .logo:hover{
    transform:scale(1.015);
    transition:200ms;
    opacity:0.99;
}
hr{
    width:74vw;
    height:2px;
    background-color: rgb(34, 34, 34);
    border:0px;
}
/*Pesquisa*/
.divpesquisar{
    display:inline-flex;
    margin-top:1.75vw;
    margin-right:1vw;
}
#pesquisar{
    width:30vw;
    height:3.5vw;
    border-radius: 30px;
    border:none;
    font-size: 1.5vw;
    margin-right:-3.3vw;
    padding-left:1vw;
    padding-right:3.25vw;
}
#pesquisar:hover{
    transition:200ms;
    opacity:0.99;
}
.lupabotao{
    margin-top:0.25vw;
    width:3.25vw;
    height:3.25vw;
    border-radius:50%;
    border:none;
    z-index:999;
    background-image:URL(img/nav/pesquisa.png);
    background-repeat:no-repeat;
    background-size:3.25vw;
}
.lupabotao:hover{
    transform:scale(0.99);
    transition:200ms;
    opacity:0.99;
}
/*baixo*/
.opcoes{
    display: inline-flex;
    justify-content: space-around;
    width:92vw;
    height:auto;
    margin-left:4vw;
    margin-right:4vw;
}
.anav >.areahtml{
    width:40vw;
    height:auto;
    border-radius:15px;
    box-shadow:0.8vw 0.8vw rgb(11, 11, 11);
}
.anav >.areacss{
    width:40vw;
    height:auto;
    border-radius: 15px;
    box-shadow:0.8vw 0.8vw rgb(11, 11, 11);
}
.anav > .areahtml:hover{
    transform:scale(1.015);
    transition:200ms;
}
.anav > .areacss:hover{
    transform:scale(1.015);
    transition:200ms;
}
/*BODY------------------------------*/
main{
    margin-top:3vw;
    width:100vw;
    height:auto;
    margin-bottom:4vw;
    display:inline-flex;
    justify-content: space-around;
}
.amain{
    text-decoration: none;
}
.conteudo{
    width:40vw;
    height:auto;
    background-color: white;
    padding-top:0.5vw;
    margin-left:4vw;
    margin-right:4vw;
}
h2{
    width:40vw;
    font-size:2.3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    color:black;
}
#hrh2{
    width:36vw;
    height:2px;
    margin-left:2vw;
    margin-top:-1.5vw;
    background-color: rgb(34, 34, 34);
    border:0px;
}
.texto{
    width:38vw;
    height:auto;
    margin-left:1vw;
    margin-top:0.3vw;
    text-align: center;
    font-size:1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
.conteudo > .areacomunidade{
    width:16vw;
    height:auto;
    margin-left: 12vw;
    margin-top:-0.5vw;
}
.conteudo > .areadicas{
    width:16vw;
    height:auto;
    margin-left: 12vw;
    margin-top:-0.5vw;
}
.conteudo:hover{
    opacity:0.85;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
}
#hrmain{
    width:1.3px;
    height:19vw;
    margin-top:7vw;
    background-color: rgb(99, 99, 99);
    border:0px;
    opacity:0.5;
}