body{
    background-color: white;
    margin-left:0vw;
    margin-top:0;
    overflow:hidden;
}
header{
    background-color: rgb(63, 63, 63);
    width:15vmin;
    height:100vh;
    position:fixed;
}
nav{
    margin-top: 2vh;
    margin-left: 2vmin;
}
a > .logo{
    width:11vmin;
    height:11vmin;
    margin-left:0vw;
    margin-bottom:7vh;
    border-radius:50%;
}
a > img{
    width:10vmin;
    height:10vmin;
    margin-left:0.5vmin;
    margin-bottom:2vh;
    border-radius:50%;
}
a > .pesquisa{
    width:9vmin;
    height:9vmin;
    margin-left:1vmin;
    margin-top:12vh;
    border-radius:50%;
}
a > img:hover{
    opacity:0.8;
    transform:scale(1.15);
    transition:200ms;
}
a > .pesquisa:hover{
    opacity:0.8;
    transform:scale(0.95);
    transition:200ms;
    cursor:text;
}




@media only screen and (max-width: 650px), (max-height:350px) {
    header{
        background-color: rgb(63, 63, 63);
        width:100vw;
        height:14vw;
        position:fixed;
        display:flex;
    }
    nav{
        width:100vw;
        display:flex;
        margin-left:0;
        margin-top:0;
    }
    a > .logo{
        width:12vw;
        height:12vw;
        margin-left:2vw;
        margin-top:1vw;
        margin-right:13.5vw;
        border-radius:50%;
        image-rendering: optimizeSpeed;
    }
    a > img{
        width:10vw;
        height:10vw;
        margin-right:2vw;
        margin-left:0;
        margin-top:2vw;
        border-radius:50%;
        image-rendering: optimizeSpeed;
    }
    a > .pesquisa{
        width:8vw;
        height:8vw;
        margin-left:11.5vw;
        margin-top:3vw;
        border-radius:50%;
        margin-right:0;
        image-rendering: optimizeSpeed;
    }
    a > img:hover{
        opacity:0.8;
        transform:scale(1.15);
        transition:200ms;
    }
    a > .pesquisa:hover{
        opacity:0.8;
        transform:scale(0.95);
        transition:200ms;
        cursor:text;
    }
}